.DS_Store

# fish history and complettions
local/share/fish/

# displays remote info
containers/

# compiled plugins file
nvim/plugin/packer_compiled.lua

#  sensitive info
gh/hosts.yml

zsh/.zcompdump
zsh/.zsh_history
zsh/.zsh_sessions
